@media screen and (max-width: 499px) {
    #homeImg {
        height: 320px;
        width: 380px;
    }
}

@media screen and (min-width: 500px) {
    #homeImg {
        width: 475px;
        height: 320px;
    }
}

@media screen and (min-width: 1000px) {
    #homeImg {
        width: 1900px;
        height: 900px;
    }
}