@media screen and (max-width: 499px) {
    #homeImg {
        height: auto;
        width: 90%;
    }
}

@media screen and (min-width: 500px) {
    #homeImg {
        height: auto;
        width: 90%;
    }
}

@media screen and (min-width: 100px) {
    #homeImg {
        width: 1900px;
        height: 900px;
    }
}